# Fake-news survey analysis

Please see [here for more details](https://github.com/BuzzFeedNews/2016-12-fake-news-survey).

## Load online survey

In [1]:
import pandas as pd

In [2]:
survey = pd.read_csv("../data/raw-data.csv")

In [3]:
len(survey)

3015

In [4]:
survey.head()

,Respondent_Serial,ID,ReturnCode,IDType,USHOU1,MRK_SMPGRP,MRK_SMPSRC,IISPanelistID,DP_INCOME,DP_GENAGE,...,DKIDS01_3_DKIDS01_Rel,DKIDS01_4_DKIDS01_Rel,DKIDS01_5_DKIDS01_Rel,DKIDS01_6_DKIDS01_Rel,DKIDS01_7_DKIDS01_Rel,DKIDS01_8_DKIDS01_Rel,DKIDS01_9_DKIDS01_Rel,DKIDS01_10_DKIDS01_Rel,DKIDS01_11_DKIDS01_Rel,DKIDS01_12_DKIDS01_Rel
0,6,1141122260,9,1,1,1,2,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,1146768496,9,1,3,1,2,NaN,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,1143062614,9,1,1,1,2,NaN,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,C1439717771,9,1,3,1,3,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13,C1439718289,9,1,3,1,3,NaN,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

All the columns:

In [5]:
print(" • ".join(survey.columns))

Respondent_Serial • ID • ReturnCode • IDType • USHOU1 • MRK_SMPGRP • MRK_SMPSRC • IISPanelistID • DP_INCOME • DP_GENAGE • DP_EDUCATION_BAN • DP_HISPANIC_BAN • DP_USHHI2_der • usedu3_der • usmar2_der • EMP01_der • USRACE4_der • USRETH3_der • HADD_ZipCode_US • HCAL_REGION1_US • HCAL_REGION1_Label_abbreviation_US • HCAL_REGION1_Label_US • HCAL_Region3_US • HCAL_Region3_Label_US • HCAL_Region2_US • HCAL_Region2_Label_US • HCAL_AGGLO_CODE_US • HCAL_AGGLO_CODE_Label_US • HCAL_MktSize_US • HCAL_MktSize_Label_US • HCAL_STDMKTSIZE_US • HCAL_STDMKTSIZE_Label_US • HCAL_STDREGION_4CODES_US • HCAL_STDREGION_4CODES_Label_US • HCAL_STDREGION_US • HCAL_STDREGION_Label_US • TimeZone_US • Time_Zone_Label_US • NielsenCountySizeCode_US • QMktSize_1_1 • QMktSize_2_1 • QMktSize_3_1 • QMktSize_4_1 • QMktSize_5_1 • QMktSize_6_1 • QMktSize_7_1 • QMktSize_8_1 • QMktSize_9_1 • QMktSize_10_1 • QMktSize_11_1 • QMktSize_12_1 • QMktSize_13_1 • QMktSize_14_1 • QMktSize_15_1 • QMktSize_16_1 • QMktSize_17_1 • QMktSize_18_1 • QMktSize_19_1 • QMktSize_20_1 • QMktSize_21_1 • QMktSize_22_1 • QMktSize_23_1 • QMktSize_24_1 • QMktSize_25_1 • QMktSize_26_1 • QMktSize_27_1 • QMktSize_28_1 • QMktSize_29_1 • QMktSize_30_1 • QMktSize_31_1 • QMktSize_32_1 • QMktSize_33_1 • QMktSize_34_1 • QMktSize_35_1 • QMktSize_36_1 • QMktSize_37_1 • QMktSize_38_1 • QMktSize_39_1 • QMktSize_40_1 • QMktSize_41_1 • QMktSize_42_1 • QMktSize_43_1 • QMktSize_44_1 • QMktSize_45_1 • QMktSize_46_1 • QMktSize_47_1 • QMktSize_48_1 • QMktSize_49_1 • QMktSize_50_1 • QMktSize_51_1 • QMktSize_52_1 • QMktSize_53_1 • QMktSize_54_1 • QMktSize_55_1 • QMktSize_56_1 • QMktSize_57_1 • QMktSize_58_1 • QMktSize_59_1 • QMktSize_60_1 • QMktSize_61_1 • QMktSize_62_1 • QMktSize_63_1 • QMktSize_64_1 • QMktSize_65_1 • QMktSize_66_1 • QMktSize_67_1 • QMktSize_68_1 • QMktSize_69_1 • QMktSize_70_1 • QMktSize_71_1 • QMktSize_72_1 • QMktSize_73_1 • QMktSize_74_1 • QMktSize_75_1 • QMktSize_76_1 • QMktSize_77_1 • QMktSize_78_1 • QMktSize_79_1 • QMktSize_80_1 • QMktSize_81_1 • QMktSize_82_1 • QMktSize_83_1 • QMktSize_84_1 • QMktSize_85_1 • QMktSize_86_1 • QMktSize_87_1 • QMktSize_88_1 • QMktSize_89_1 • QMktSize_90_1 • QMktSize_91_1 • QMktSize_92_1 • QMktSize_93_1 • QMktSize_94_1 • QMktSize_95_1 • QMktSize_96_1 • QMktSize_97_1 • QMktSize_98_1 • QMktSize_99_1 • ZIP_3DIGIT • ZIP_5DIGIT • State_Recoded • USHHI2 • DMA • DP_ETHNICITY_BAN • Weightvar • resp_gender • resp_age • resp_age_long • REGION4 • US09KID • US09KAB01 • US09KAB02 • US09KAB03 • US09KAB04 • US09KAB05 • US09KAB06 • US09KAB07 • US09KAB08 • US09KAB09 • US09KAB10 • US09KAB11 • US09KAB12 • US09KAB13 • US09KAB14 • US09KAB15 • US09KAB16 • US09KAB17 • US09KAB18 • US09KAB19 • US09KAG01 • US09KAG02 • US09KAG03 • US09KAG04 • US09KAG05 • US09KAG06 • US09KAG07 • US09KAG08 • US09KAG09 • US09KAG10 • US09KAG11 • US09KAG12 • US09KAG13 • US09KAG14 • US09KAG15 • US09KAG16 • US09KAG17 • US09KAG18 • US09KAG19 • USMAR2 • STATE • US09KAB_AG_merged01 • US09KAB_AG_merged02 • US09KAB_AG_merged03 • US09KAB_AG_merged04 • US09KAB_AG_merged05 • US09KAB_AG_merged06 • US09KAB_AG_merged07 • US09KAB_AG_merged08 • US09KAB_AG_merged09 • US09KAB_AG_merged10 • US09KAB_AG_merged11 • US09KAB_AG_merged12 • US09KAB_AG_merged13 • US09KAB_AG_merged14 • US09KAB_AG_merged15 • US09KAB_AG_merged16 • US09KAB_AG_merged17 • US09KAB_AG_merged18 • US09KAB_AG_merged19 • Age_pres • GENAGE_der • MRK_STATUS_DWD • MRK_START_TIME_DWD • MRK_END_TIME_DWD • MRK_DIFF_TIME_DWD • QUOTA_DWD • QUOTA_CAN_GENDER_DWD • QUOTA_CAN_AGERANGE_DWD • QUOTA_CAN_REGION_DWD • DWD1 • DWD1_4 • DWD2 • DWD3 • DWD4 • DWD5 • QUOTAROTDWD1 • QUOTAROTDWD2 • DWD6 • DWD6_5 • QUOTA_HEADSLINES_ATOE1 • QUOTA_HEADSLINES_ATOE2 • QUOTA_HEADSLINES_ATOE3 • QUOTA_HEADSLINES_ATOE4 • QUOTA_HEADSLINES_ATOE5 • QUOTA_HEADSLINES_FTOK1 • QUOTA_HEADSLINES_FTOK2 • QUOTA_HEADSLINES_FTOK3 • QUOTA_HEADSLINES_FTOK4 • QUOTA_HEADSLINES_FTOK5 • QUOTA_HEADSLINES_FTOK6 • MRK_ORD_LOOPDWD7_DWD8_A_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_B_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_C_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_D_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_E_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_F_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_G_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_H_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_I_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_J_ORD_LOOPDWD7_DWD8 • MRK_ORD_LOOPDWD7_DWD8_K_ORD_LOOPDWD7_DWD8 • ProgCtrLOOPDWD7_DWD8 • LOOPDWD7_DWD8_A_DWD7 • LOOPDWD7_DWD8_B_DWD7 • LOOPDWD7_DWD8_C_DWD7 • LOOPDWD7_DWD8_D_DWD7 • LOOPDWD7_DWD8_E_DWD7 • LOOPDWD7_DWD8_F_DWD7 • LOOPDWD7_DWD8_G_DWD7 • LOOPDWD7_DWD8_H_DWD7 • LOOPDWD7_DWD8_I_DWD7 • LOOPDWD7_DWD8_J_DWD7 • LOOPDWD7_DWD8_K_DWD7 • LOOPDWD7_DWD8_A_DWD8 • LOOPDWD7_DWD8_B_DWD8 • LOOPDWD7_DWD8_C_DWD8 • LOOPDWD7_DWD8_D_DWD8 • LOOPDWD7_DWD8_E_DWD8 • LOOPDWD7_DWD8_F_DWD8 • LOOPDWD7_DWD8_G_DWD8 • LOOPDWD7_DWD8_H_DWD8 • LOOPDWD7_DWD8_I_DWD8 • LOOPDWD7_DWD8_J_DWD8 • LOOPDWD7_DWD8_K_DWD8 • GRID_DWD9_1_DWD9 • GRID_DWD9_2_DWD9 • GRID_DWD9_3_DWD9 • GRID_DWD9_4_DWD9 • GRID_DWD9_5_DWD9 • GRID_DWD9_6_DWD9 • DWD10 • GRID_DWD11_1_DWD11 • GRID_DWD11_2_DWD11 • GRID_DWD11_3_DWD11 • GRID_DWD11_4_DWD11 • GRID_DWD11_5_DWD11 • GRID_DWD11_6_DWD11 • GRID_DWD11_7_DWD11 • GRID_DWD11_8_DWD11 • GRID_DWD11_9_DWD11 • GRID_DWD11_10_DWD11 • GRID_DWD11_11_DWD11 • GRID_DWD11_12_DWD11 • GRID_DWD11_13_DWD11 • GRID_DWD11_14_DWD11 • GRID_DWD11_15_DWD11 • MRK_ORDER_DWD11_1_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_2_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_3_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_4_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_5_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_6_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_7_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_8_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_9_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_10_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_11_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_12_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_13_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_14_MRK_ORDER_DWD11 • MRK_ORDER_DWD11_15_MRK_ORDER_DWD11 • MARK_START_TIME_DWD • MARK_END_TIME_DWD • MARK_DIFF_TIME_DWD • Section_Version_DWD • LOOPDWD7_DWD8CNT • LOOPDWD7_DWD8CNT1 • Wavemarker • RACE_wgt • CurrentMonth • CurrentYear • KIDS01 • USRACE41 • USRACE42 • USRACE43 • USRACE44 • USRACE45 • USRACE46 • USRACE47 • COUNTRY10 • INDHH1001 • INDHH1002 • INDHH1003 • INDHH1004 • INDHH1005 • INDHH1006 • INDHH1007 • INDHH1008 • INDHH1009 • INDHH1010 • INDHH1011 • INDHH1012 • INDHH1013 • INDHH1014 • INDHH1015 • INDHH1016 • INDHH1017 • INDHH1018 • INDHH1019 • INDHH1020 • INDHH1021 • INDHH1022 • INDHH1023 • INDHH1024 • INDHH1025 • INDHH1026 • INDHH1027 • INDHH1028 • INDHH1029 • INDHH1030 • INDHH1031 • INDHH1032 • INDHH1033 • INDHH1034 • INDHH1035 • INDHH1036 • USEDU3 • USRETH3 • PGS01 • EMP01 • DKIDS01_1_DKIDS01_Gender • DKIDS01_2_DKIDS01_Gender • DKIDS01_3_DKIDS01_Gender • DKIDS01_4_DKIDS01_Gender • DKIDS01_5_DKIDS01_Gender • DKIDS01_6_DKIDS01_Gender • DKIDS01_7_DKIDS01_Gender • DKIDS01_8_DKIDS01_Gender • DKIDS01_9_DKIDS01_Gender • DKIDS01_10_DKIDS01_Gender • DKIDS01_11_DKIDS01_Gender • DKIDS01_12_DKIDS01_Gender • DKIDS01_1_DKIDS01_YoB • DKIDS01_2_DKIDS01_YoB • DKIDS01_3_DKIDS01_YoB • DKIDS01_4_DKIDS01_YoB • DKIDS01_5_DKIDS01_YoB • DKIDS01_6_DKIDS01_YoB • DKIDS01_7_DKIDS01_YoB • DKIDS01_8_DKIDS01_YoB • DKIDS01_9_DKIDS01_YoB • DKIDS01_10_DKIDS01_YoB • DKIDS01_11_DKIDS01_YoB • DKIDS01_12_DKIDS01_YoB • DKIDS01_1_DKIDS01_MoB • DKIDS01_2_DKIDS01_MoB • DKIDS01_3_DKIDS01_MoB • DKIDS01_4_DKIDS01_MoB • DKIDS01_5_DKIDS01_MoB • DKIDS01_6_DKIDS01_MoB • DKIDS01_7_DKIDS01_MoB • DKIDS01_8_DKIDS01_MoB • DKIDS01_9_DKIDS01_MoB • DKIDS01_10_DKIDS01_MoB • DKIDS01_11_DKIDS01_MoB • DKIDS01_12_DKIDS01_MoB • DKIDS01_1_DKIDS01_Rel • DKIDS01_2_DKIDS01_Rel • DKIDS01_3_DKIDS01_Rel • DKIDS01_4_DKIDS01_Rel • DKIDS01_5_DKIDS01_Rel • DKIDS01_6_DKIDS01_Rel • DKIDS01_7_DKIDS01_Rel • DKIDS01_8_DKIDS01_Rel • DKIDS01_9_DKIDS01_Rel • DKIDS01_10_DKIDS01_Rel • DKIDS01_11_DKIDS01_Rel • DKIDS01_12_DKIDS01_Rel

## Tidy-ify headline response data

In [6]:
headline_order_cols = [
    'MRK_ORD_LOOPDWD7_DWD8_A_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_B_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_C_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_D_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_E_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_F_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_G_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_H_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_I_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_J_ORD_LOOPDWD7_DWD8',
    'MRK_ORD_LOOPDWD7_DWD8_K_ORD_LOOPDWD7_DWD8',
]

headline_recall_cols = [
    'LOOPDWD7_DWD8_A_DWD7',
    'LOOPDWD7_DWD8_B_DWD7',
    'LOOPDWD7_DWD8_C_DWD7',
    'LOOPDWD7_DWD8_D_DWD7',
    'LOOPDWD7_DWD8_E_DWD7',
    'LOOPDWD7_DWD8_F_DWD7',
    'LOOPDWD7_DWD8_G_DWD7',
    'LOOPDWD7_DWD8_H_DWD7',
    'LOOPDWD7_DWD8_I_DWD7',
    'LOOPDWD7_DWD8_J_DWD7',
    'LOOPDWD7_DWD8_K_DWD7',
]

headline_accuracy_cols = [
    'LOOPDWD7_DWD8_A_DWD8',
    'LOOPDWD7_DWD8_B_DWD8',
    'LOOPDWD7_DWD8_C_DWD8',
    'LOOPDWD7_DWD8_D_DWD8',
    'LOOPDWD7_DWD8_E_DWD8',
    'LOOPDWD7_DWD8_F_DWD8',
    'LOOPDWD7_DWD8_G_DWD8',
    'LOOPDWD7_DWD8_H_DWD8',
    'LOOPDWD7_DWD8_I_DWD8',
    'LOOPDWD7_DWD8_J_DWD8',
    'LOOPDWD7_DWD8_K_DWD8'   
]

In [7]:
headlines_order = pd.melt(
    survey[ ["ID"] + headline_order_cols],
    id_vars=["ID"],
    value_name="order",
    var_name="headline"
).assign(headline=lambda x: x["headline"].str.extract(r"MRK_ORD_LOOPDWD7_DWD8_(.)_ORD_LOOPDWD7_DWD8", expand=False))
headlines_order.head()

            ID headline  order
0   1141122260        A    1.0
1   1146768496        A    3.0
2   1143062614        A    1.0
3  C1439717771        A    NaN
4  C1439718289        A    NaN

In [8]:
headlines_recalled = pd.melt(
    survey[ ["ID"] + headline_recall_cols],
    id_vars=["ID"],
    value_name="recalled",
    var_name="headline"
).assign(headline=lambda x: x["headline"].str.extract(r"LOOPDWD7_DWD8_(.)_DWD7", expand=False))
headlines_recalled.head()

            ID headline  recalled
0   1141122260        A       3.0
1   1146768496        A       1.0
2   1143062614        A       1.0
3  C1439717771        A       NaN
4  C1439718289        A       NaN

In [9]:
headlines_accuracy = pd.melt(
    survey[ ["ID"] + headline_accuracy_cols],
    id_vars=["ID"],
    value_name="accuracy",
    var_name="headline"
).assign(headline=lambda x: x["headline"].str.extract(r"LOOPDWD7_DWD8_(.)_DWD8", expand=False))
headlines_accuracy.head()

            ID headline  accuracy
0   1141122260        A       NaN
1   1146768496        A       4.0
2   1143062614        A       2.0
3  C1439717771        A       NaN
4  C1439718289        A       NaN

In [10]:
def classify_accuracy(acc):
    if pd.isnull(acc): return pd.np.nan
    if acc in [ "very accurate", "somewhat accurate" ]:
        return True
    if acc in [ "not very accurate", "not at all accurate" ]:
        return False
    raise ValueError()

In [11]:
headline_responses = headlines_order\
    .merge(headlines_recalled, on=["ID", "headline"])\
    .merge(headlines_accuracy, on=["ID", "headline"])\
    .merge(survey[["ID", "Weightvar"]], on=["ID"])\
    .pipe(lambda x: x[x["order"] > 0])
headline_responses["order"] = headline_responses["order"].astype(int)
headline_responses["recalled"] = headline_responses["recalled"].apply({
    1.0: "yes",
    2.0: "no",
    3.0: "unsure",      
}.get)
headline_responses["accuracy"] = headline_responses["accuracy"].apply({
    1.0: "very accurate",
    2.0: "somewhat accurate",
    3.0: "not very accurate", 
    4.0: "not at all accurate"
}.get).fillna(pd.np.nan)
headline_responses["accuracy_bool"] = headline_responses["accuracy"].apply(classify_accuracy)
headline_responses["recalled_bool"] = headline_responses["recalled"] == "yes"
headline_responses["is_fake"] = headline_responses["headline"].isin([ "A", "B", "C", "D", "E" ])
headline_responses.head(10)

,ID,headline,order,recalled,accuracy,Weightvar,accuracy_bool,recalled_bool,is_fake
0,1141122260,A,1,unsure,NaN,0.708267,NaN,False,True
1,1141122260,B,6,no,NaN,0.708267,NaN,False,True
2,1141122260,C,3,no,NaN,0.708267,NaN,False,True
6,1141122260,G,4,unsure,NaN,0.708267,NaN,False,False
7,1141122260,H,5,unsure,NaN,0.708267,NaN,False,False
8,1141122260,I,2,unsure,NaN,0.708267,NaN,False,False
11,1146768496,A,3,yes,not at all accurate,0.585417,False,True,True
13,1146768496,C,4,no,NaN,0.585417,NaN,False,True
15,1146768496,E,1,yes,very accurate,0.585417,True,True,True
16,1146768496,F,6,no,NaN,0.585417,NaN,False,False

In [12]:
headline_responses.to_csv("../data/headline-responses.csv", index=False)

## Set up calculations

In [13]:
def calc_weighted_accuracy(df):
    assert(df["deemed_accurate"].isnull().sum() == 0)
    total_weight = df["Weightvar"].sum()
    return (df["deemed_accurate"] * df["Weightvar"]).sum() / total_weight

In [14]:
def calc_weighted_recall(df):
    assert(df["recalled"].isnull().sum() == 0)
    total_weight = df["Weightvar"].sum()
    return ((df["recalled"] == "yes") * df["Weightvar"]).sum() / total_weight

In [15]:
def calc_weighted_bool(df, var):
    assert(df[var].isnull().sum() == 0)
    total_weight = df["Weightvar"].sum()
    return (df[var] * df["Weightvar"]).sum() / total_weight

In [16]:
def calc_weighted_recall(df):
    return calc_weighted_bool(df, "recalled_bool")

In [17]:
def calc_weighted_accuracy(df):
    return calc_weighted_bool(df, "accuracy_bool")

# Findings

## Headline recall rates

- A: *Pope Francis Shocks World, Endorses Donald Trump for President, Releases Statement* (Fake)
- B: *Donald Trump Sent His Own Plane to Transport 200 Stranded Marines* (Fake)
- C: *FBI Agent Suspected in Hillary Email Leaks Found Dead in Apparent Murder - Suicide* (Fake)
- D: *Donald Trump Protester Speaks Out: “I Was Paid $3,500 to Protest Trump’s Rally”* (Fake)
- E: *FBI Director Comey Just Put a Trump Sign On His Front Lawn* (Fake)
- F: *Melania Trump’s Girl-on-Girl Photos From Racy Shoot Revealed* (True)
- G: *Barbara Bush: “I don’t know how women can vote” for Trump* (True)
- H: *Donald Trump Says He’d ‘Absolutely’ Require Muslims to Register* (True)
- I: *Trump: “I Will Protect Our LGBTQ Citizens”* (True)
- J: *I Ran the C.I.A Now I’m Endorsing Hillary Clinton* (True)
- K: *Donald Trump on Refusing Presidential Salary: “I’m not taking it”* (True)

In [18]:
grp = headline_responses.groupby("headline")
pd.DataFrame({
    "prop_recalled": grp.apply(calc_weighted_recall),
    "people": grp.size()
}).round(2)

          people  prop_recalled
headline
A           1809           0.19
B           1809           0.14
C           1809           0.22
D           1809           0.19
E           1809           0.10
F           1509           0.23
G           1510           0.25
H           1507           0.34
I           1506           0.27
J           1506           0.11
K           1507           0.57

## Proportion who recalled 1+ fake/real headline

In [19]:
def recalled_one_fake(df):
    return len(df[
        (df["is_fake"] == True) &
        (df["recalled"] == "yes")
    ]) > 0

def recalled_one_real(df):
    return len(df[
        (df["is_fake"] == False) &
        (df["recalled"] == "yes")
    ]) > 0

In [20]:
grp = headline_responses.groupby("ID")
pd.DataFrame({
    "recalled_one_fake": grp.apply(recalled_one_fake),
}).reset_index().merge(survey[["ID", "Weightvar"]], on="ID")\
    .pipe(lambda x: calc_weighted_bool(x, "recalled_one_fake"))

0.32500282204596953

In [21]:
grp = headline_responses.groupby("ID")
pd.DataFrame({
    "recalled_one_real": grp.apply(recalled_one_real),
}).reset_index().merge(survey[["ID", "Weightvar"]], on="ID")\
    .pipe(lambda x: calc_weighted_bool(x, "recalled_one_real"))

0.56995037049068364

## Judgements by headline and headline group

In [22]:
recalled_headlines = headline_responses[
    headline_responses["recalled"] == "yes"
]

In [23]:
grp = recalled_headlines.groupby("headline")
pd.DataFrame({
    "prop_said_accurate": grp.apply(calc_weighted_accuracy),
    "people": grp.size()
}).round(2)

          people  prop_said_accurate
headline
A            330                0.64
B            263                0.84
C            389                0.72
D            348                0.79
E            186                0.81
F            335                0.83
G            358                0.82
H            507                0.80
I            402                0.73
J            157                0.90
K            860                0.90

In [24]:
grp = recalled_headlines.groupby("is_fake")
pd.DataFrame({
    "prop_said_accurate": grp.apply(calc_weighted_accuracy),
    "judgments": grp.size()
}).round(2)

         judgments  prop_said_accurate
is_fake
False         2619                0.83
True          1516                0.75

## Fake-news judgments by party affiliation

In [25]:
survey["major_party_affiliation"] = survey["DWD1"].apply({
    1: "Democrat",
    2: "Republican"
}.get)

In [26]:
survey["major_party_affiliation"].value_counts()

Democrat      1104
Republican     941
Name: major_party_affiliation, dtype: int64

In [27]:
grp = recalled_headlines[
    recalled_headlines["is_fake"] == True
].merge(survey[["ID", "major_party_affiliation" ]].fillna("Independent/other"), on="ID")\
    .groupby([  "major_party_affiliation",  ])
pd.DataFrame({
    "prop_said_accurate": grp.apply(calc_weighted_accuracy),
    "judgments": grp.size()
}).round(2)

                         judgments  prop_said_accurate
major_party_affiliation
Democrat                       561                0.71
Independent/other              340                0.66
Republican                     615                0.84

## Fake-news judgments by presidential vote

In [28]:
survey["voted_for"] = survey["DWD6"].apply({
    1.0: "Clinton",
    2.0: "Trump",
#    3.0: "Johnson",
#    4.0: "Stein",
#    5.0: "Other"
}.get)

In [29]:
survey["voted_for"].value_counts()

Clinton    1102
Trump      1029
Name: voted_for, dtype: int64

In [30]:
grp = recalled_headlines[
    recalled_headlines["is_fake"] == True
].merge(survey[["ID", "voted_for"]].fillna("none/other"), on="ID")\
    .groupby("voted_for")
pd.DataFrame({
    "prop_said_accurate": grp.apply(calc_weighted_accuracy),
    "judgments": grp.size()
}).round(2)

            judgments  prop_said_accurate
voted_for
Clinton           434                0.58
Trump             634                0.86
none/other        448                0.77

In [31]:
grp = recalled_headlines.merge(survey[["ID", "voted_for"]], on="ID")\
    .groupby(["voted_for", "headline"])
pd.DataFrame({
    "prop_said_accurate": grp.apply(calc_weighted_accuracy),
    "judgments": grp.size()
}).round(2).unstack(level=0)

          judgments       prop_said_accurate
voted_for   Clinton Trump            Clinton Trump
headline
A               100   127               0.46  0.75
B                56   132               0.68  0.96
C               106   165               0.52  0.85
D                92   167               0.62  0.89
E                80    43               0.73  0.76
F               154    91               0.91  0.68
G               160   101               0.95  0.61
H               230   145               0.79  0.80
I               121   174               0.46  0.93
J                61    47               0.94  0.87
K               279   352               0.82  0.96

## Fake-news judgments by Facebook as news source

In [32]:
survey["facebook_as_news_source"] = survey["GRID_DWD11_4_DWD11"].apply({
    1: "major",
    2: "minor",
    3: "rarely-never-unfamiliar",
    4: "rarely-never-unfamiliar",
    5: "rarely-never-unfamiliar"
}.get)

In [33]:
grp = recalled_headlines[
    recalled_headlines["is_fake"] == True
].merge(survey[["ID", "facebook_as_news_source"]], on="ID")\
    .groupby("facebook_as_news_source")
pd.DataFrame({
    "prop_said_accurate": grp.apply(calc_weighted_accuracy),
    "judgments": grp.size()
}).round(2)

                         judgments  prop_said_accurate
facebook_as_news_source
major                          553                0.83
minor                          465                0.76
rarely-never-unfamiliar        498                0.64

---

---

---